{% load static %}

<link rel="stylesheet" href="{% static 'listings/styles.css' %}" /><html>
    <head><title>Merchex</title></head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="http://127.0.0.1:8000/hello/">Hello</a></li>
                    <li><a href="http://127.0.0.1:8000/listings/">Listings</a></li>
                    <li><a href="http://127.0.0.1:8000/about-us/">A propos</a></li>
                    <li><a href="http://127.0.0.1:8000/contact-us/">Contact</a></li>
                </ul>
            </nav>
        </header>

        {% block content %}{% endblock %}

    </body>
</html>