
{% extends 'listings/base.html' %}
{% block content %}

<!-- <h1>La plus belle des liste !!!</h1> -->
<h1>Mes objets disponibles sont:</h1>
<ul>
    {% for listing in listings %}
    <li><a href="{% url 'listing-detail' listing.id %}">{{ listing.title }}</a></li>
    {% endfor %}
</ul>
<p>J'ai {{ listings|length }} objets préférés.</p>
<p>
    J'ai
    {% if listings|length < 5 %} peu d' 
    {% elif listings|length < 10 %} quelques 
    {% else %} beaucoup d' {% endif %}
    objets préférés. </p>
{% endblock %}